.card1 {
  width: 200px;
  height: 300px;
  /*  background-image: url("https://img2.pic.in.th/pic/pop2360d92a2a6325b70.png"); */
  background-image: var(--cardImg);
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  border: 1px solid white;
  transform-style: preserve-3d;
}

.hoverImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  opacity: 0;
  width: 100%;
  height: 100%;
  /* background-image: url("https://img5.pic.in.th/file/secure-sv1/pop1.png"); */
  background-image: var(--hoverImg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.6s;
}

.card1:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("https://img2.pic.in.th/pic/pop2360d92a2a6325b70.png");
}

.card1:hover .hoverImage {
  top: 35%;
  scale: 150%;
  opacity: 1;
}

.card1:hover .h1 {
  text-shadow: 0px 0px 10px white, 0px 0px 20px white;
}
/* card2 cola section */

.colaCard {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.colaCard:hover {
  width: 320px;
  transition-delay: 0.5s;
}

.colaCircle {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.colaCircle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 8px solid var(--clr);
  background: #191919;
  transition: 0.5s, background 0.5s;
  transition-delay: 0.75s, 1s;
  filter: drop-shadow(0 0 10px var(--clr)) drop-shadow(0 0 60px var(--clr));
}

.colaCard:hover .colaCircle::before {
  width: 100%;
  height: 100%;
  transition-delay: 0.5s;
  border-radius: 20px;
  background: var(--clr);
}

.colaLogo {
  position: relative;
  width: 250px;
  transition: 0.5s;
  transition-delay: 0.5s;
}

.colaCard:hover .colaLogo {
  transform: scale(0);
  transition-delay: 0s;
}

.colaProductImg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0) rotate(315deg);
  height: 200px;
}

.colaCard:hover .colaProductImg {
  transition-delay: 0.75s;
  transform: translate(-50%, -50%) scale(1) rotate(15deg);
  top: 45%;
  left: 75%;
  height: 350px;
}

.colaContent {
  position: absolute;
  width: 50%;
  left: 20%;
  padding: 20px 20px 20px 40px;
  opacity: 0;
  transition: 0.5s;
  visibility: hidden;
}

.colaCard:hover .colaContent {
  transition-delay: 0.75s;
  opacity: 1;
  visibility: visible;
  left: 0;
}

.colaContentH2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.8em;
  line-height: 1em;
}

.colaContentP {
  color: #fff;
  font-size: 0.8em;
}

.colaContentA {
  font-size: medium;
  position: relative;
  color: #111;
  background: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  margin-top: 10px;
}

/* Card 3 */
.container {
  position: relative;
  margin: 0 20px;
}

.card3 {
  position: relative;
  width: 320px;
  height: 450px;
  background-color: #232323;
  border-radius: 20px;
  overflow: hidden;
}

.card3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #03a9f4;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.card3:hover::before {
  clip-path: circle(300px at 80% -20%);
}

.imageBoxCard3 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}

.card3:hover .imageBoxCard3 {
  top: 0;
  transform: translateY(0%);
}

.imgCard3 {
  position: absolute;
  top: 10%;
  left: 20%;
  transform: translateY(-50%, -50%);
  width: 200px;
}

.contentboxCard3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.card3:hover .contentboxCard3 {
  height: 210px;
}

.contentCard3H2 {
  position: relative;
  font-weight: bold;
  letter-spacing: 1px;
  color: #ffffff;
}

.card3Price,
.card3Color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.card3:hover .card3Price {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.card3:hover .card3Color {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.card3ColorH3,
.card3PriceH3 {
  color: #ffffff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.card3Span {
  width: 26px;
  height: 26px;
  text-align: center;
  font-size: 20px;
  display: inline-block;
  color: #111111;
  background-color: #ffffff;
  margin: 0 5px;
  transition: 0.5s;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.card3PriceSpan:hover {
  background-color: #03a9f4;
}

.card3ColorSpan {
  width: 20px;
  height: 20px;
  background: var(--clr3);
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.card3A {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffffff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: bold;
  color: #111111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
}

.card3:hover .a {
  opacity: 1;
  transform: translateY(0px);
  transition: 0.75s;
}
